.gradient-bg-welcome {
    background-color:#0f0e13;
    background-image: 
      radial-gradient(at 50% 30%, rgb(103, 91, 161) 0, transparent 50%), 
      radial-gradient(at 50% 100%, rgb(111, 127, 176) 0, transparent 50%), 
      radial-gradient(at 20% 20%, rgb(70, 77, 158) 0, transparent 50%);
  }

  #title{
    font-family: 'Anton', sans-serif;
    color: rgb(80, 176, 255)
  }

  #linkList{
    cursor: pointer
  }

  .bg-icon{
    background-color: hsl(255, 11%, 22%)
  }
  .secondMainbg{
     background-color: hsl(257, 7%, 63%)
  }

  .seperator{
    background-color: hsl(180, 66%, 49%)
  }

  .imagebg{
    background-color: hsl(257, 27%, 26%)
  }

  .alertValue{
    visibility: hidden
  }



@tailwind base;
@tailwind components;
@tailwind utilities;

